body {
    margin: 0;
    padding: 0% 10% 0 10%;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
}

table {
    padding: 10%;
}


td {
    
    width: 5vh;
    height: 5vh;
    background-color: rgb(255, 133, 133);
}